In [174]:
import pandas as pd

In [175]:
df = pd.read_csv('basket_analysis.csv')
df.head()

,Unnamed: 0,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [176]:
df.dropna(inplace=True)

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    999 non-null    int64
 1   Apple         999 non-null    bool
 2   Bread         999 non-null    bool
 3   Butter        999 non-null    bool
 4   Cheese        999 non-null    bool
 5   Corn          999 non-null    bool
 6   Dill          999 non-null    bool
 7   Eggs          999 non-null    bool
 8   Ice cream     999 non-null    bool
 9   Kidney Beans  999 non-null    bool
 10  Milk          999 non-null    bool
 11  Nutmeg        999 non-null    bool
 12  Onion         999 non-null    bool
 13  Sugar         999 non-null    bool
 14  Unicorn       999 non-null    bool
 15  Yogurt        999 non-null    bool
 16  chocolate     999 non-null    bool
dtypes: bool(16), int64(1)
memory usage: 23.5 KB

In [178]:
df.drop('Unnamed: 0', axis='columns', inplace=True )

In [179]:
# df.drop('index', axis='columns')

In [180]:
# data = list(df["Product"].apply(lambda x:x.split(",") ))
# data

In [181]:
df.shape

(999, 16)

In [183]:
from mlxtend.frequent_patterns import apriori, association_rules

#set a threshold value for the support value and calculate the support value.

In [184]:
df = apriori(df, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 21 combinations | Sampling itemset size 3

     support                itemsets
0   0.383383                 (Apple)
1   0.384384                 (Bread)
2   0.420420                (Butter)
3   0.404404                (Cheese)
4   0.407407                  (Corn)
5   0.398398                  (Dill)
6   0.384384                  (Eggs)
7   0.410410             (Ice cream)
8   0.408408          (Kidney Beans)
9   0.405405                  (Milk)
10  0.401401                (Nutmeg)
11  0.403403                 (Onion)
12  0.409409                 (Sugar)
13  0.389389               (Unicorn)
14  0.420420                (Yogurt)
15  0.421421             (chocolate)
16  0.207207     (Ice cream, Butter)
17  0.202202  (Kidney Beans, Butter)
18  0.202202     (chocolate, Butter)
19  0.200200  (Kidney Beans, Cheese)
20  0.202202  (chocolate, Ice cream)
21  0.211211       (chocolate, Milk)

In [185]:
print(df)

     support                itemsets
0   0.383383                 (Apple)
1   0.384384                 (Bread)
2   0.420420                (Butter)
3   0.404404                (Cheese)
4   0.407407                  (Corn)
5   0.398398                  (Dill)
6   0.384384                  (Eggs)
7   0.410410             (Ice cream)
8   0.408408          (Kidney Beans)
9   0.405405                  (Milk)
10  0.401401                (Nutmeg)
11  0.403403                 (Onion)
12  0.409409                 (Sugar)
13  0.389389               (Unicorn)
14  0.420420                (Yogurt)
15  0.421421             (chocolate)
16  0.207207     (Ice cream, Butter)
17  0.202202  (Kidney Beans, Butter)
18  0.202202     (chocolate, Butter)
19  0.200200  (Kidney Beans, Cheese)
20  0.202202  (chocolate, Ice cream)
21  0.211211       (chocolate, Milk)

In [186]:
# let's view the interpretation values using the association rule function.

df = association_rules(df, metric = 'confidence', min_threshold = 0.4)
df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Ice cream),(Butter),0.410410,0.420420,0.207207,0.504878,1.200889,0.034662,1.170579
1,(Butter),(Ice cream),0.420420,0.410410,0.207207,0.492857,1.200889,0.034662,1.162571
2,(Kidney Beans),(Butter),0.408408,0.420420,0.202202,0.495098,1.177626,0.030499,1.147905
3,(Butter),(Kidney Beans),0.420420,0.408408,0.202202,0.480952,1.177626,0.030499,1.139764
4,(chocolate),(Butter),0.421421,0.420420,0.202202,0.479810,1.141262,0.025028,1.114169
5,(Butter),(chocolate),0.420420,0.421421,0.202202,0.480952,1.141262,0.025028,1.114693
6,(Kidney Beans),(Cheese),0.408408,0.404404,0.200200,0.490196,1.212143,0.035038,1.168284
7,(Cheese),(Kidney Beans),0.404404,0.408408,0.200200,0.495050,1.212143,0.035038,1.171583
8,(chocolate),(Ice cream),0.421421,0.410410,0.202202,0.479810,1.169098,0.029246,1.133412
9,(Ice cream),(chocolate),0.410410,0.421421,0.202202,0.492683,1.169098,0.029246,1.140467
10,(chocolate),(Milk),0.421421,0.405405,0.211211,0.501188,1.236263,0.040365,1.192021
11,(Milk),(chocolate),0.405405,0.421421,0.211211,0.520988,1.236263,0.040365,1.207857